.loginImg {
  height: 100vh;
  width: 50%;
}

.loginImg img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 73% 100%, 0% 100%);
}

.registerImg {
  height: 100vh;
  width: 50%;
}
.registerImg img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 27% 100%);
}

fieldset {
  border: none;
}

.loginForm {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formContainer {
  text-align: center;
  border-radius: 8px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

input {
  margin: 10px 0;
}

.register {
  margin-top: 10px;
  text-decoration: underline;
}

.register:hover {
  cursor: pointer;
}

.loginButton {
  width: 30%;
  padding: 5 px;
  background-color: #b80c09;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
}
